<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GNSettingsThemeKey</key>
	<string>Mac Classic</string>
	<key>GNSettingsFontFaceKey</key>
	<string>Inconsolata</string>
	<key>GNSettingsFontSizeKey</key>
	<integer>24</integer>
</dict>
</plist>
